node_modules/
/allure*
/test-results/
/playwright-report/
/playwright/.cache/
/test-results/
/playwright-report/
/playwright/.cache/
/html-report
/junit-report*
/logs/
/resources/sample_download.jpeg
cookies.json